{% extends 'layout.html' %}
{% load static %}

{% block content %}

<section>
    <form action="/cadastro" method="post">
        {% csrf_token %}
        <label for="nome"> Nome: </label>
        <input name='nome' type="text">

        <label for="email"> Email: </label>
        <input name='email' type="email" required>

        <label for="senha"> Senha: </label>
        <input name='senha' type="password" required>

        <label for=""> Escreva seu comentário aqui </label>
        <input name="frase" id="frase" cols='30' rows='10' required>

        <input type="submit" id='botao' value="Enviar">

    </form>
</section>


{% endblock %}