{% extends 'layout.html' %}
{% load static %}

{% block content %}

<header>
    <img class='banner' src="{% static 'imagens/black-cat.jfif' %}" alt="">
</header>

<section>
    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo qui, incidunt quae ea sunt laudantium error
        porro? Obcaecati iste odio numquam soluta suscipit ducimus? Aperiam eaque, ut quam debitis explicabo cumque,
        quos voluptatem ducimus, dolor perspiciatis in modi repellendus. Quod mollitia ratione dolor esse quibusdam.
        Modi sunt aperiam molestias adipisci!</div>
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem beatae laborum labore aperiam iste. Ut
        laborum quae deserunt quisquam eum ex debitis iste asperiores sequi quibusdam fuga impedit tempora, odio
        repudiandae quia facere unde, fugiat dolore, tenetur at vero quam.</div>
</section>


{% endblock %}