{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> Website </title>
</head>
<body>
    <nav class="navbar">
        <a class='navbar_menu'href="/">Home</a>
        <a class='navbar_menu'href="/cadastro">Cadastro</a>
        <a class='navbar_menu'href="#">Lista</a>
        <a class='navbar_menu_login'href="/login">Login</a>
    </nav>


    {% block content %}

    {% endblock %}

    
</body>
</html>